@use "../../variables.scss" as *;

.workspaces button {
  margin: 10px 2px;
  padding: 0px 7px;
}

.workspaces button:hover {
  color: $yellow;
}

.ws-urgent {
  color: $red;
}

.ws-mine {
  color: $orange;
}

.ws-busy {
  color: $blue;
}

.ws-empty {
  color: $grey;
}
