@use "../../variables.scss" as *;

.data {
  padding: 0px 7px;
}

.icon {
  font-size: 1.2em;
}

.disk {
  color: $orange;
}

.ram {
  color: $yellow;
}

.cpu {
  color: $magenta;
}

.net_down {
  color: $green;
}

.net_up {
  color: $red;
}

.wheel-group {
  margin: 0px 5px;
}

.wheel {
  margin: 0px 10px;
}

.normal {
  color: $green;
}

.high {
  color: $orange;
}

.status {
  padding: 10px;
  color: $text;
}

.disabled {
  color: $grey;
}

.time {
  color: $blue;
}

// Calendar
calendar {
  padding: 5px;
}

calendar:selected {
  color: $background;
  background-color: $blue;
  border-radius: 5px;
}
