@use "variables.scss" as *;
@use "src/bar/index.scss";

// Some base
* {
  all: unset;
  font-family: "Lilex Nerd Font";
}

window {
  color: $text;
  background-color: $background;
}

button {
  border-radius: $border-radius;
}

tooltip {
  color: $text;
  background-color: $background;
}
