@function hsla($h, $s, $l, $a) {
  @return rgba(hsl($h, $s, $l), $a);
}

// Colors
$background: hsla(210, 20%, 5%, 0.6);
$text: #bfbdb6;

$blue: #59c2ff;
$green: #aad94c;
$grey: #5c6773;
$magenta: #d2a6ff;
$orange: #ff8732;
$red: #dd3e25;
$yellow: #cfca0d;

// Various
$margin: 15px;
$padding: 10px;
$border-radius: 5px;
